nav.navbar.navbar-expand-lg
  .container
    a.navbar-brand(href="#") 
      img(src="https://idodesign.vn/wp-content/uploads/2023/08/logo-cong-ty-du-lich-1.jpg" alt="Logo", style="width: 60px") 

    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav")
      span.navbar-toggler-icon

    .collapse.navbar-collapse#navbarNav
      ul.navbar-nav.mx-auto  
        li.nav-item
          a.nav-link(href="#") Trang chủ
        li.nav-item
          a.nav-link(href="#") Dịch vụ
        li.nav-item
          a.nav-link(href="#") Về chúng tôi
        li.nav-item
          a.nav-link(href="#") Blog
        li.nav-item
          a.nav-link(href="#") Liên hệ

      a.btn.btn-cta.ml-3(href="#") Đăng ký
